{{ if .bg_toggle }}

<header class="h-52 md:h-72 md:pb-6 flex flex-col justify-center md:mt-0 cover bg-{{ .bg_color }}">
    <div class="container max-w-7xl mx-auto flex flex-col px-4">
        <h1 class="font-bold capitalize text-4xl md:text-7xl text-center sm:text-left text-white">{{ .title }}</h1>
    </div>

</header>
{{ else }}
<header class="h-52 pt-20 md:pb-6 flex flex-col justify-center md:mt-0" id="">
    <div class="container max-w-7xl mx-auto flex flex-col px-4">
        <h1 class="font-bold capitalize text-4xl md:text-7xl text-center text-black">{{ .title }}</h1>
    </div>
    <div class="flex justify-center h-24">
        <img src="https://imagedelivery.net/55TzV2Sm0ZC5Gj13gsciyw/3d394789-6769-4c31-5e26-0740ffb5d600/navLogo" alt="">
    </div>
</header>
{{ end }}