{{ define "main" }}
<section class="my-24 flex flex-col items-center justify-center">
    <div class="max-w-7xl mx-auto px-4 flex flex-col items-center justify-center">
        <h1 class="text-5xl md:text-7xl mb-12 text-center">Merci!<br><span class="text-3xl text-center md:text-5xl">Thank You!</span></h1>
        <h2 class="text-3xl md:text-3xl mb-12">Nous vous répondrons sous peu.</h2>
        <a href="{{ $.Site.BaseURL | absURL }}" class="btn_primary tracking-wider text-2xl">
        Page d'accueil</a>
    </div>

</section>
{{ end }}