<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">

<title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
<meta itemprop="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
<meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
<meta name="twitter:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" />

<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL | absURL }}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL | absURL }}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL | absURL }}favicon-16x16.png">
<link rel="manifest" href="{{ .Site.BaseURL | absURL }}site.webmanifest">
<link rel="mask-icon" href="{{ .Site.BaseURL | absURL }}safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<base href="{{ .Permalink }}" />

<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<meta itemprop="image" content="{{ .Site.Params.schema.ogimage | absURL }}" />
<meta property="og:image" content="{{ .Site.Params.schema.ogimage | absURL }}" />
<meta name="twitter:image" content="{{ .Site.Params.schema.ogimage | absURL }}" />
<meta name="twitter:image:src" content="{{ .Site.Params.schema.ogimage | absURL }}" />

<link rel="canonical" href="{{ .Permalink }}" />
{{ if .Params.noindex }}
<meta name="robots" content="noindex, nofollow" /> 
<meta name="googlebot" content="noindex, nofollow" />
{{ else }}
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow" />

{{ end }}

<!-- Manifest File -->
<link rel="manifest" href="{{ .Site.BaseURL }}site.webmanifest" />

<meta property="og:locale" content="{{ .Language.Lang }}" />
<meta name="language" content="{{ .Language.LanguageName }}" />
{{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}" />
{{ end }}

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BeautySalon",
      "name": "MEZ Studio Beauté",
      "image": "https://imagedelivery.net/55TzV2Sm0ZC5Gj13gsciyw/6e0b4d2f-7fb4-47cb-1d0a-26175a14bd00/public",
      "@id": "",
      "url": "https://www.mezstudiobeaute.com",
      "telephone": "1-450-619-1600",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "170 Taschereau Blvd, Suite 107",
        "addressLocality": "La Prairie",
        "postalCode": "J5R 0H6",
        "addressCountry": "Canada",
        "addressRegion": "Qc"
      },
      "priceRange": "$$$",
      "sameAs": [
        "https://www.facebook.com/mezcollectionsetstudiobeaute/",
        "https://www.instagram.com/mez_studiobeaute"
      ],
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Tuesday",
            "Wednesday"
          ],
          "opens": "10:00",
          "closes": "17:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Thursday",
            "Friday"
          ],
          "opens": "10:00",
          "closes": "19:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Saturday"
          ],
          "opens": "10:00",
          "closes": "17:00"
        }
      ]
    }
    </script>